module.exports = [{
    code: '#d08a8a',
    name: '马卡龙Kurakkure'
  }, {
    code: '#ae716e',
    name: '大巧克力杏仁饼'
  }, {
    code: '#c86f67',
    name: '覆盆子马卡龙'
  }, {
    code: '#cb8e85',
    name: '巧克力马卡龙'
  }, {
    code: '#cf8878',
    name: '杏仁饼，果仁糖，巧克力'
  }, {
    code: '#fe997b',
    name: '马卡龙覆盆子乳酪蛋糕'
  }, {
    code: '#ed987b',
    name: '杏仁饼、牛轧糖、蒙特利马尔'
  }, {
    code: '#f28a63',
    name: '巧克力马卡龙'
  }, {
    code: '#ff9b6a',
    name: '牛奶咖啡马卡龙'
  }, {
    code: '#f1ccb8',
    name: '盐焦糖杏仁饼'
  }, {
    code: '#e7dbca',
    name: '马卡龙枫武'
  }, {
    code: '#f2debd',
    name: '杏仁饼香草奶油'
  }, {
    code: '#fecf45',
    name: '马卡龙芒果激情'
  }, {
    code: '#f3d751',
    name: '杏仁饼，柚子'
  },
  {
    code: '#f1f1b8',
    name: '杏仁饼黄'
  }, {
    code: '#E8CBC0',
    name: '莫兰迪粉'
  }, {
    code: '#b8d38f',
    name: '马卡龙抹茶奶霜'
  }, {
    code: '#b8f1cc',
    name: '杏仁饼绿'
  }, {
    code: '#b8f1ed',
    name: '杏仁饼海洋蓝'
  }, {
    code: '#C9D6FF',
    name: '杏仁饼紫'
  }, {
    code: '#636FA4',
    name: '莫兰迪蓝'
  }, {
    code: '#4286f4',
    name: '经典蓝'
  }, {
    code: '#cb7799',
    name: '马卡龙黑醋栗'
  }, {
    code: '#ac5e74',
    name: '马卡龙、巧克力、樱桃色'
  }, {
    code: '#c490a0',
    name: '马卡龙枫薰衣草'
  }, {
    code: '#f1707d',
    name: '马卡龙草莓奶霜'
  }, {
    code: '#ef5767',
    name: '马卡龙基尔Anperiaru'
  }
]